
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(65, 9, 9), rgb(11, 11, 80));
    color: white;
    position: relative;
}
.clock{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.timer{
    width: 100%;
    height: 100%;
    background: rgba(128, 0, 79, 0.145);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);

}

.clock::before{
    content: '';
    width: 150px;
    height: 150px;
    background: rgb(255, 0, 89);
    border-radius: 10px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.clock::after{
    content: '';
    width: 180px;
    height: 180px;
    background: rgb(0, 255, 255);
    border-radius: 50%;
    position: absolute;
    right: -40px;
    bottom: -70px;
    z-index: -1;
}
.timer span{
    font-size: 100px;
    width: 150px;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 10px;

}
.clock span::after{

    font-size: 18px;
    position: absolute;
    bottom: -5px;
    left: 50px;
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
    padding-left: 4px;
}
#sec::after{
    content: 'SEC';
    padding-left: 8px;
}
